@import url("./reset.css");
@import url("../node_modules/primeflex/primeflex.css");
@import "primeicons/primeicons.css";
@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Sofia+Sans:wght@400;500;600;700&display=swap");
html,
body {
  height: 100%;
  width: 100%;
}
// ** Glass Design - gd **//
* {
  font-family: "Sofia Sans";
}
/** Custom Varibles  */
:root {
  --padding-base: 20px;
}

/** */
.gd-window {
  display: flex;
  padding: var(--padding-base);
  height: 100%;
  width: 100%;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.664);
  box-shadow: 0 0 10px white, inset 0 0 25px white;
  background-color: rgba(255, 255, 255, 0.26);
}
.gd-background {
  & > *:not(router-outlet, .ignore) {
    height: 100%;
    width: 100%;
  }
  display: flex;
  padding: var(--padding-base);
  height: 100%;
  width: 100%;
  background: linear-gradient(
    140deg,
    rgba(95, 115, 27, 1) 3%,
    rgba(0, 53, 55, 1) 49%,
    rgba(31, 26, 70, 1) 89%
  );
}
.gap-base {
  gap: var(--padding-base);
}
