router-outlet {
  display: none;
}
.gd-split {
  display: flex;
  gap: calc(var(--padding-base) * 2);
  width: 100%;
  app-profile-info {
    width: 20%;
  }
}
::ng-deep {
  router-outlet + * {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
  }
}
